/* Product detail styles */
.small_font_size {
    font-size: 12px;
}

.description_font_size {
    font-size: 20px;
}

.img_producto {
    width: 100%;
    height: 100%;
    max-width: 500px;
    object-fit: contain;
}

.div_producto {
    width: 400px;
    margin: 0 auto;
    height: 500px;
}

.foto_miniatura{
    width: 60px;
    cursor: pointer;
}
/* Product detail styles fin */